/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

  .app-background{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chat-background{
    height: 88%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  .input-background{
    background-color: lightgrey;
    height: 10%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chatbox-self{
    background-color: lightgray;
    width: 50%;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  .chatbox-bot{
    background-color: lightgrey;
    width: 50%;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  .input-box{
    width: 90%;
    height: 60%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }

  .input-box::placeholder{
    color: gray;
  }

  .input-box:focus{
    outline: none;
  }

  .send-button{
    background-color: black;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
  }